PeopleClient/Connected Services/ServiceReference/PeopleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PeopleLibrary" />
  <xs:element name="ListPeoples">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPeoplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListPeoplesResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PeopleLibrary" minOccurs="0" name="GetPersonResult" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PeopleLibrary" minOccurs="0" name="GetFamilyResult" nillable="true" type="q3:Family" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelephone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelephoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PeopleLibrary" minOccurs="0" name="GetTelephoneResult" nillable="true" type="q4:Telephone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pfId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PeopleLibrary" minOccurs="0" name="GetAddressResult" nillable="true" type="q5:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>