PeopleClient/Connected Services/ServiceReference/PeopleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PeopleLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PeopleLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Forname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Family">
    <xs:sequence>
      <xs:element minOccurs="0" name="Born" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Family" nillable="true" type="tns:Family" />
  <xs:complexType name="Telephone">
    <xs:sequence>
      <xs:element minOccurs="0" name="FId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Landline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Telephone" nillable="true" type="tns:Telephone" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AId" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>