PeopleClient/Connected Services/ServiceReference/PeopleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PeopleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53314/PeopleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PeopleLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleService_ListPeoples_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPeoples" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_ListPeoples_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPeoplesResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetFamily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamily" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetFamily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetTelephone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTelephone" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetTelephone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTelephoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeopleService">
    <wsdl:operation name="ListPeoples">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/ListPeoples" message="tns:IPeopleService_ListPeoples_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/ListPeoplesResponse" message="tns:IPeopleService_ListPeoples_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetPerson" message="tns:IPeopleService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetPersonResponse" message="tns:IPeopleService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamily">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetFamily" message="tns:IPeopleService_GetFamily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetFamilyResponse" message="tns:IPeopleService_GetFamily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTelephone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetTelephone" message="tns:IPeopleService_GetTelephone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetTelephoneResponse" message="tns:IPeopleService_GetTelephone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetAddress" message="tns:IPeopleService_GetAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetAddressResponse" message="tns:IPeopleService_GetAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeopleService" type="tns:IPeopleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListPeoples">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/ListPeoples" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamily">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTelephone">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetTelephone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleService">
    <wsdl:port name="BasicHttpBinding_IPeopleService" binding="tns:BasicHttpBinding_IPeopleService">
      <soap:address location="http://localhost:53314/PeopleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>